{
  "printWidth": 100,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": true,
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": [".*", "*.json", "*.jsonc", "*.md", "*.mdx", "*.toml", "*.yml"],
      "options": {
        "useTabs": false
      }
    }
  ]
}
