{{- $pages := .pages -}}

{{ range $pages }}
  {{- if not .Title }}
    {{- errorf "Blog post %q is missing a title" .Path }}
  {{- end }}
  {{- if .Date.IsZero }}
    {{- errorf "Blog post %q is missing a date" .Path }}
  {{- end }}
{{ end }}

{{ range $pages.GroupByDate "2006" }}
  <h2 class="posts-year">{{ .Key }}</h2>
  <ul class="blog-posts">
    {{ range .Pages }}
      <li>
        <span>
          <time datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">
            {{ .Date.Format "01-02" }}
          </time>
        </span>
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      </li>
    {{ end }}
  </ul>
{{ else }}
  <ul class="blog-posts">
    <li>还没有文章</li>
  </ul>
{{ end }}
