{{- $title := cond .IsHome site.Title (.Title | default site.Title) -}}
{{- $description := .Description | default site.Params.description -}}
{{- if and (not .Description) .Summary -}}
  {{- $description = .Summary | plainify | truncate 160 -}}
{{- end -}}
{{- $url := .Permalink -}}
{{- $image := "/og-image.png" -}}
{{- with .Params.image }}{{ $image = . }}{{ end -}}

<!-- Primary Meta Tags -->
<meta name="title" content="{{ $title }}">
<meta name="description" content="{{ $description }}">

<!-- Open Graph / Facebook -->
<meta property="og:site_name" content="{{ site.Title }}">
<meta property="og:title" content="{{ $title }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ $url }}">
<meta property="og:description" content="{{ $description }}">
<meta property="og:image" content="{{ $image | absURL }}">

<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="{{ $url }}">
<meta name="twitter:title" content="{{ $title }}">
<meta name="twitter:description" content="{{ $description }}">
<meta name="twitter:image" content="{{ $image | absURL }}">

<!-- Structured Data -->
{{- $schema := dict
  "@context" "http://schema.org"
  "@type" (cond .IsPage "Article" "WebSite")
  "name" $title
  "headline" $title
  "url" $url
  "description" ($description | plainify | truncate 200)
-}}
{{- $schema = merge $schema (dict "image" ($image | absURL)) -}}
<script type="application/ld+json">
  {{ $schema | jsonify | safeJS }}
</script>
