{{- $title := cond .IsHome site.Title (.Title | default site.Title) -}}
{{- $description := .Description | default site.Params.description -}}
{{- if and (not .Description) .Summary -}}
  {{- $description = .Summary | plainify | truncate 160 -}}
{{- end -}}
{{- $url := .Permalink -}}
{{- $image := "/og-image.png" -}}
{{- with .Params.image }}{{ $image = . }}{{ end -}}
{{- $imageURL := $image | absURL -}}
{{- $locale := site.Language.Locale | default "zh-CN" -}}
{{- $ogLocale := replace $locale "-" "_" -}}
{{- $isArticle := and .IsPage (eq .Section "blog") -}}
{{- $authorName := "" -}}
{{- with site.Params.author -}}
  {{- if reflect.IsMap . -}}
    {{- with .name }}{{ $authorName = . }}{{ end -}}
  {{- else -}}
    {{- $authorName = . -}}
  {{- end -}}
{{- end -}}

<meta name="description" content="{{ $description }}">
{{- with $authorName }}
<meta name="author" content="{{ . }}">
{{- end }}

<meta property="og:site_name" content="{{ site.Title }}">
<meta property="og:locale" content="{{ $ogLocale }}">
<meta property="og:title" content="{{ $title }}">
<meta property="og:type" content="{{ cond $isArticle "article" "website" }}">
<meta property="og:url" content="{{ $url }}">
<meta property="og:description" content="{{ $description }}">
<meta property="og:image" content="{{ $imageURL }}">
{{- if $isArticle }}
<meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
{{- if not .Lastmod.IsZero }}
<meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">
{{- end }}
{{- end }}

<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ $title }}">
<meta name="twitter:description" content="{{ $description }}">
<meta name="twitter:image" content="{{ $imageURL }}">

{{- $schemaType := "WebPage" -}}
{{- if .IsHome -}}
  {{- $schemaType = "WebSite" -}}
{{- else if $isArticle -}}
  {{- $schemaType = "BlogPosting" -}}
{{- else if .IsSection -}}
  {{- $schemaType = "CollectionPage" -}}
{{- end -}}
{{- $schema := dict
  "@context" "https://schema.org"
  "@type" $schemaType
  "name" $title
  "headline" $title
  "url" $url
  "description" ($description | plainify | truncate 200)
  "inLanguage" $locale
  "image" $imageURL
-}}
{{- if $isArticle -}}
  {{- $schema = merge $schema (dict
    "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")
    "mainEntityOfPage" (dict "@type" "WebPage" "@id" $url)
  ) -}}
  {{- if not .Lastmod.IsZero -}}
    {{- $schema = merge $schema (dict "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")) -}}
  {{- end -}}
  {{- with $authorName -}}
    {{- $schema = merge $schema (dict "author" (dict "@type" "Person" "name" .)) -}}
  {{- end -}}
{{- else if .IsHome -}}
  {{- with $authorName -}}
    {{- $schema = merge $schema (dict "author" (dict "@type" "Person" "name" .)) -}}
  {{- end -}}
{{- end -}}
<script type="application/ld+json">
  {{ $schema | jsonify | safeJS }}
</script>
