main {
    color-scheme: dark;
    --primary-default: 148, 180, 212;
    --bg-default: 37, 37, 35;
    --color-scale-gray-7: #252523;
    --color-scale-blue-8: #354354;
}

main .pagination-loader-container {
    background-image: url('https://github.com/images/modules/pulls/progressive-disclosure-line-dark.svg');
}

main .gsc-loading-image {
    background-image: url('https://github.githubassets.com/images/mona-loading-dark.gif');
}
