main {
    color-scheme: light;
    --primary-default: 27, 54, 93;
    --bg-default: 240, 238, 230;
    --color-scale-gray-1: #e8e6dc;
    --color-scale-blue-1: #dce3eb;
}

main .pagination-loader-container {
    background-image: url('https://github.com/images/modules/pulls/progressive-disclosure-line.svg');
}

main .gsc-loading-image {
    background-image: url('https://github.githubassets.com/images/mona-loading-default.gif');
}
