:root {
  --bg: #eff1f5;
  --accent-bg: #e6e9ef;
  --text: #4c4f69;
  --text-light: #5c5f77;
  --border: #898ea4;
  --accent: #8839ef;
  --accent-hover: var(--accent);
  --accent-text: var(--bg);
  --code: var(--text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #1e1e2e;
    --accent-bg: #181825;
    --text: #cdd6f4;
    --text-light: #bac2de;
    --accent: #cba6f7;
    --accent-hover: var(--accent);
    --code: var(--text);
  }
}

code {
  padding: 2px 5px;
  border-radius: var(--standard-border-radius);
  background-color: var(--accent-bg);
}

pre code,
pre span {
  color: #cdd6f4;
}
