---
const today = new Date();
---

<footer>
	<span>
		<p>
			<small>
				&copy; {today.getFullYear()} Shaolong Chen. All rights reserved.
			</small>
		</p>
	</span>
	<span
		>Powered by <a href="https://astro.build/" rel="nofollow noopener noreferrer" target="_blank"
			>Astro</a
		> and <a
			href="https://workers.cloudflare.com/"
			rel="nofollow noopener noreferrer"
			target="_blank">Cloudflare Workers©</a
		></span
	>
</footer>
