---
const today = new Date();
---

<footer>
	<span>
		<p>
			<small>
				&copy; {today.getFullYear()} Shaolong Chen. All rights reserved.
			</small>
		</p>
	</span>
	<span>Powered by <a href="https://astro.build/" rel="nofollow" target="_blank">Astro</a></span>
</footer>
