---
import { SITE_TITLE } from '../consts';
---

<header>
	<a class="title" href="/">
		<h1>{SITE_TITLE}</h1>
	</a>
	<nav>
		<p>
			<a href="/">主页</a>
			<a href="/blog/">博客</a>
			<a href="/rss.xml">RSS</a>
		</p>
	</nav>
</header>
