---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<a class="title" href="/">
		<h1>{SITE_TITLE}</h1>
	</a>
	<nav>
		<p>
			<HeaderLink href="/">主页</HeaderLink>
			<HeaderLink href="/blog/">博客</HeaderLink>
			<HeaderLink href="/rss.xml">RSS</HeaderLink>
		</p>
	</nav>
</header>
