---
import { getAllPosts } from '../utils';

const posts = (await getAllPosts()).slice(0, 5);
---

<ul>
	{
		posts.map((post) => (
			<li>
				<a href={`/blog/${post.id}/`}>{post.data.title}</a>
			</li>
		))
	}
</ul>
