---
import type { CollectionEntry } from 'astro:content';

import FormattedDate from './FormattedDate.astro';

interface Props {
	posts: CollectionEntry<'blog'>[] | CollectionEntry<'translations'>[];
	basePath?: string;
}

const { posts, basePath = '/blog' } = Astro.props;
---

<ul class="blog-posts">
	{
		posts.map((post) => (
			<li>
				<span>
					<i>
						<FormattedDate date={post.data.pubDate} />
					</i>
				</span>
				<a href={`${basePath}/${post.id}/`}>{post.data.title}</a>
			</li>
		))
	}
</ul>
