{{ define "title" }}{{ .Title }} | {{ site.Title }}{{ end }}

{{ define "main" }}
  <h1>{{ .Title }}</h1>

  <p class="post-meta">
    <time datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">
      {{ .Date.Format (site.Params.dateFormat | default "02 Jan, 2006") }}
    </time>
  </p>

  {{ $headings := findRE `<h[23][ >]` .Content }}
  {{ if ge (len $headings) 3 }}
    <details class="toc">
      <summary>目录</summary>
      {{ .TableOfContents }}
    </details>
  {{ end }}

  {{ .Content }}
{{ end }}
